#fevrier a span{
	color: white;
}

#pagination :hover:not(#fevrier){
	background: rgba(204,32,48, 0.5);
}



#fevrier {
    background: rgb(204,32,48);
}

#janvier, #mars, #avril, #mai, #juin, #juillet, #aout, #septembre, #octobre, #novembre, #decembre {
	background: rgba(100, 100, 100, 0.8);
}
