#mai span{
	color: white;
}

#pagination :hover:not(#mai){
	background: rgba(204,32,48, 0.5);
}

#mai {
    background: rgb(204,32,48);
}

#janvier, #fevrier, #mars, #avril, #juin, #juillet, #aout, #septembre, #octobre, #novembre, #decembre {
	background: rgba(100, 100, 100, 0.8);
}
