#calendar {
    margin-top: 40px;
}

#body {
    text-align: center;
}

.weekday span {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: white;
    font-size: 25px;
    padding: 10px 0;
    background: rgb( 4, 32, 48);
}


.day a, .greyday a  {
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 0;
    background: #eee;
}

.greyday a {
    color: rgb(175, 175, 175);
}

.pagination a  {
    color: white;
    text-decoration:none;
    font-size: 50px;
    width: 40%;
    text-align: center;
    margin-bottom: 5px;
    color: #777;
    padding: 1px; 
    padding-top: 15px;
    padding-bottom: 15px;
}

.day a {
    color: black;
}

body {
    font-family: 'Quicksand', 'TimesNewRoman', sans-serif;
}

#logo img {
    width: 30%;
}