#calendar {
    margin-top: 40px;
}

#body {
    text-align: center;
}

.pagination span {
    padding: 10px 0;
    background: rgb(204, 32, 48);
    margin: 0;
}

.pagination span {
    list-style-type: none;
    display: inline-block;
    width: 30.77%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.weekdays {
    padding: 10px 0;
    background: rgb(204, 32, 48);
 
}

.weekdays {
    width: 95%;
    padding-left : 10px;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: white;
    font-size: 25px;
}

.day, .greyday {
    padding: 10px 0;
    background: #eee;
}

.day, .greyday {
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
}

.day, .greyday{
    text-decoration: none;
    font-size: 25px;
}

.greyday{
    color: rgb(175, 175, 175);
}

#Mois30, #Mois31, #Mois28 {
    color: white;
    text-decoration:none;
    font-size: 50px;
}

.day{
    color: black;
}

body {
    font-family: 'Quicksand', 'TimesNewRoman', sans-serif;
    font-size: 20px;

}

#logo img {
    width: 30%;
}