#pagination a{
	text-decoration: none;
	color:black;
}

#pagination{
	display:flex;
	justify-content: space-around;
	text-align: center;
	margin:100px;
	margin-bottom: 30px;
	padding:20px;
	border: 1px solid;
}


#mois28, #mois30, #mois31{
	border:2px solid;
	width: 130px;
	padding:6px;
}

