


.form {
position: relative;
border: 10px solid ;
border-color: rgb(204, 32, 48);
padding: 30px;
background-color: rgb(245, 245, 245);
font-family: 'Quicksand','TimesNewRoman', sans-serif;
margin: 35px;
}
 .nom {
font-size: 20px;
margin: 20px;
padding: 25px;
box-sizing: 300px;
text-decoration: underline;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


 }
 #nom {

width: 75%;
margin-top: 10px;
height: 50px; 
font-size: 20px;


 }

 .prenom {
font-size: 20px;
margin: 20px;
padding: 25px;
box-sizing: 300px;
text-decoration: underline;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


 } 
 #prenom {

width: 75%;
margin-top: 10px;
height: 50px; 
font-size: 20px;

 }


.event {
font-size: 20px;
margin: 20px;
padding: 25px;
box-sizing: 300px;
text-decoration: underline;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#event {

width: 75%;
margin-top: 10px;
height: 50px; 
font-size: 20px;

}


.titre {
font-size: 20px;
margin: 20px;
padding: 25px;
box-sizing: 300px;
text-decoration: underline;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#titre {

width: 75%;
margin-top: 10px;
height: 50px; 
font-size: 20px;
}


.description {
font-size: 20px;
margin: 20px;
padding: 25px;
box-sizing: 300px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 

}
#description {

width: 75%;
margin-top: 10px;
height: 50px; 
font-size: 20px; 

}


.heure {
font-size: 20px;
margin: 10px;
padding: 10px;
padding-top: 30px;

}

.minute {
	width: 120px;
}

.hour {

padding-top: 100px;
padding-bottom: 50px; 

}


.button {

width: 20%;
padding: 50px;
font-size :100%;


}                  

img {
width: 45%;
}

.scroll {

width: 7%;
font-size: 15px;
background-color: rgba(204, 32, 48, 0.5);
margin-left: 0px;

}

.nom::before {
	font-family: "Font Awesome 5 free";
	content: "\f2b9";
}
.description {

text-decoration: underline;

}
.icon::after {
font-family: "Font Awesome 5 free";
	content: "\f274";	
	font-size: 30px;
}
.prenom::before {
	font-family: "Font Awesome 5 free";
	content: "\f2b9";
}

.non::before{
font-family: "Font Awesome 5 free";
	content: "\f044";

} 
.titre::before {
font-family: "Font Awesome 5 free";
	content: "\f129";
	font-weight: 900;
}

.event::before {
	font-family: "Font Awesome 5 free";
	content: "\f017";
	text-decoration: none;
}`
#date {
	margin-left: 50px;
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.date {
	font-size: : 30px;
	float: left;
	margin-left: 45px;
	
}
#button {
	margin-left: 50px;
	
}

#scroll1 {
	margin-left: 45px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#datepicker {
margin-top: 30px;
margin-bottom: 20px;
width: 300%;
height: 300%;
font-size: 200%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width: 800px){

#datepicker	{
width: 110%;
font-size: 15px;
}
}








