


.form {
position: relative;
border: 10px solid ;
border-color: rgb(204, 32, 48);
padding: 30px;
background-color: rgb(245, 245, 245);
}
 .nom {
font-size: 20px;
margin: 20px;
padding: 25px;
box-sizing: 300px;
text-decoration: underline;


 }
 #nom {

width: 200px;
margin-top: 10px;
height: 40px; 
text-decoration: underline;

 }

 .prenom {
font-size: 20px;
margin: 20px;
padding: 25px;
box-sizing: 300px;
text-decoration: underline;


 } 
 #prenom {

width: 200px;
margin-top: 10px;
height: 40px; 
text-decoration: underline;

 }


.event {
font-size: 20px;
margin: 20px;
padding: 25px;
box-sizing: 300px;
text-decoration: underline;

}
#event {

width: 200px;
margin-top: 10px;
height: 40px; 


}


.titre {
font-size: 20px;
margin: 20px;
padding: 25px;
box-sizing: 300px;
text-decoration: underline;

}
#titre {

width: 200px;
margin-top: 10px;
height: 40px; 
}


.description {
font-size: 20px;
margin: 20px;
padding: 25px;
box-sizing: 300px;
 

}
#description {

width: 200px;
margin-top: 10px;
height: 40px; 
text-decoration: underline;

}


.heure {
font-size: 20px;
margin: 10px;
padding: 10px;
padding-top: 30px;

}

.minute {

}

.hour {

padding-top: 40px;
padding-bottom: 35px; 

}


.button {

width: 20%;
height: 1000px;
padding: 500px;
font-size :500px;
line-height: 500px;
box-sizing: 30%;

}                  

img {
width: 45%;
}

.scroll {

width: 7%;
font-size: 15px;
background-color: rgba(204, 32, 48, 0.5);
margin-left: 50px;

}

.nom::before {
	font-family: "Font Awesome 5 free";
	content: "\f2b9";
}
.description {

text-decoration: underline;

}
.icon::after {
font-family: "Font Awesome 5 free";
	content: "\f274";	
	font-size: 30px;
}
.prenom::before {
	font-family: "Font Awesome 5 free";
	content: "\f2b9";
}

.non::before{
font-family: "Font Awesome 5 free";
	content: "\f044";

} 
.titre::before {
font-family: "Font Awesome 5 free";
	content: "\f129";
	font-weight: 900;
}

.event::before {
	font-family: "Font Awesome 5 free";
	content: "\f017";
	text-decoration: none;
}`
.date {
	margin-left: 50px;
}





