#pagination a{
	text-decoration: none;
	color: white;
}
	
#pagination{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}


#mois28, #mois30, #mois31 {
	width: 30.51%;
    margin: 3px;
}
