#mois31 span{
	color: white;
}

#pagination :hover:not(#mois31){
	background: rgba(204,32,48, 0.5);
}

#mois31 {
    background: rgb(204,32,48);
}

#mois30, #mois28 {
	background: rgba(100, 100, 100, 0.8);
}
