#mois30 a span{
	color: white;
}

#pagination :hover:not(#mois30){
	background: rgba(204,32,48, 0.5);
}



#mois30 {
    background: rgb(204,32,48);
}

#mois31, #mois28 {
	background: rgba(100, 100, 100, 0.8);
}
